<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <queries>
        <package android:name="com.google.android.googlequicksearchbox"/>
    </queries>

    <application
        android:name=".PythonApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Achordpany"
        tools:targetApi="31">

        <!-- Welcome Activity -->
        <activity
            android:name=".ui.auth.WelcomeActivity"
            android:theme="@style/Theme.Achordpany"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity android:name=".ui.auth.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Achordpany"/>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Achordpany"
            android:label="@string/app_name">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <!-- Search Activity -->
        <activity android:name=".ui.search.SongSearchActivity"
            android:exported="true"
            android:theme="@style/Theme.Achordpany"/>

        <!-- Signup Activity -->
        <activity android:name=".ui.signup.SignUpActivity"
            android:exported="true"
            android:theme="@style/Theme.Achordpany"/>

        <!-- Chords Display Activity -->
        <activity android:name=".ui.chords.ChordsDisplayActivity"
            android:exported="true"
            android:theme="@style/Theme.Achordpany" />

        <!-- Chords Display Activity | HISTORY -->
        <activity android:name=".ui.history.HistoryWebViewActivity"
            android:exported="true"
            android:theme="@style/Theme.Achordpany" />

        <!-- Chords Display Activity | BOOKMARKS -->
        <activity android:name=".ui.bookmark.BookmarksWebViewActivity"
            android:exported="true"
            android:theme="@style/Theme.Achordpany" />

        <!-- Chords Display Activity | HOME -->
        <activity android:name=".ui.home.HomeWebViewActivity"
            android:exported="true"
            android:theme="@style/Theme.Achordpany" />

        <!-- Change Password Activity | AUTH -->
        <activity android:name=".ui.auth.ChangePasswordActivity"
            android:exported="true"
            android:theme="@style/Theme.Achordpany" />

        <!-- Forgot Password Activity | AUTH -->
        <activity android:name=".ui.auth.RecoverAccountActivity"
            android:exported="true"
            android:theme="@style/Theme.Achordpany" />

        <!-- PROFILE | Edit Genre Activity -->
        <activity android:name=".ui.profile.EditGenreActivity"
            android:exported="true"
            android:theme="@style/Theme.Achordpany" />

        <!-- PROFILE | Edit Email Activity -->
        <activity android:name=".ui.profile.EditEmailActivity"
            android:exported="true"
            android:theme="@style/Theme.Achordpany" />

        <!-- PROFILE | Edit Username Activity -->
        <activity android:name=".ui.profile.EditUsernameActivity"
            android:exported="true"
            android:theme="@style/Theme.Achordpany" />

    </application>

</manifest>
